body {
    margin: 5px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    /* font-family: "Monaco", monospace; */
    color: #232D4B;
    background-color: rgb(255, 255, 255);
}

.authenticated {
    border-style: ridge;
    border-margin: 5px;
}