body {
    margin: 0px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    /* font-family: "Monaco", monospace; */
    background-color: purple;
}

.authenticated {
    border-style: ridge;
    border-margin: 5px;
}