{% load socialaccount %}
<html>

<head>
    <title>Google Registration</title>
</head>

<body>
    {% if user.is_authenticated %}
    <h1>UVA Schedule Portal</h1>
    <!--
    <p>Welcome, {{ user.username }} ({{user.email}})!</p>
    -->
    <a href="{% url 'student_homepage' %}">Student</a></br>
    <a href="{% url 'advisor_homepage' %}">Advisor</a>


    {% else %}
    <h1>UVA Schedule Portal</h1>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}

</body>

</html>