{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'portal/login.css' %}">
    <!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
    <style>
      body {
          margin: 0;
          font-family: "Times New Roman", Times, serif;
      }

      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
  </style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<!-- NAVIGATION --> 
<div class="topnav">
  <a href="{% url 'portal:manage_students' %}">Manage Students</a>
</div>
<div class="borders">
  <!-- CONTENT -->
  <h2>{{ advisor.advisor_first_name }}'s Dashboard</h2>
  <h4>Advisor Information: </h4>
  <p>Name: {{ advisor.advisor_first_name }} {{ advisor.advisor_last_name }}</p>
  <p>Email: {{ advisor.advisor_email }} </p>
  <p>Year: {{ advisor.advisor_department }} </p>
</div>
<a href="{% url 'portal:home' %}">Back to home</a>
</body>
</html>