{% load static %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Class</title>
</head>
<body>
<!-- NAVIGATION -->
 <div class="topnav">
  <a href="{% url 'portal:student_dashboard' %}">Dashboard</a>
  <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
</div>
<div class="borders">
    <h1>{{class}}</h1>
    <div>
        {% for class in classData %}
        <form action="{% url 'portal:add_class' year %}" method="post">
            {% csrf_token %}
            <h2> Section Number: {{class.class_section}} - {{class.section_type}}</h2>
            <h4>&emsp; Enrollment: {{class.enrollment_total}} / {{class.class_capacity}}</h4>
            {% for meeting in class.meetings %}
                <h4>&emsp; Time: {{meeting.start_time}} - {{meeting.end_time}}</h4>
                <h4>&emsp; Days: {{meeting.days}} </h4>
                <h4>&emsp; Room: {{meeting.facility_descr}}</h4>
                <h4>&emsp; Instructor: {{meeting.instructor}}</h4>
            {% endfor %}
        <button name="Class_nbr" value="{{class.class_nbr}}" name>Add Class</button>
        {% endfor %}
            </form>
    </div>
</div>
</body>
</html>