{% load socialaccount %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.email }}</p>
    {% if user.email in students %}
        <p>user is student</p>
        <!-- go to student dashboard -->
    {% elif user.email in advisors %}
        <p>user is advisor</p>
        <!-- go to advisor dashboard -->
    {% else %}
        <p>need to sign up</p>
        <a href="{% url 'portal:student_link' %}">Students</a>
    {% endif %}
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>