{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
<!-- reason logic is either sign up or google, is that in view.py -->
<!--     the logic is already built in for authenticated user -->
<!--     to check if authenticated user is student/advisor, so only gets to this page -->
<!--     if not already a student or advisor -->

{% if user.is_authenticated %}
    <div class="header">
        <h2>Welcome, {{ user.email }}</h2>
        <h4>Please Log in Or Sign Up</h4>
    </div>
    <div class="borders">
      <a href="{% url 'portal:student_link' %}">Students</a><br>
      <a href="{% url 'portal:advisor_link' %}">Advisors</a>
    </div>
{% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>