{% load static %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Students</title>
</head>
<body>
<!-- NAVIGATION -->
 <div class="topnav">
  <a href="{% url 'portal:advisor_dashboard' %}">Dashboard</a>
</div>

<!-- CONTENT -->
<div class="borders">
    <h2>Students</h2>
    <form action="{% url 'portal:student_profile' %}" method="post">
        <div>
            {% csrf_token %}
            {% for advisee in advisees %}
                <ul>
                    <button name="advisee_email" value={{advisee.student_email}}> {{advisee.student_first_name}} - {{advisee.student_last_name}}</button><br>
                </ul>
            {% endfor %}
        </div>
    </form>
</div>

</body>
</html>