{% load socialaccount %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Lookup</title>
    <!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
    <style>
        body {
            margin: 0;
            font-family: "Times New Roman", Times, serif;
        }

        .topnav {
          overflow: hidden;
          background-color: #333;
        }

        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
    </style>
</head>
<body>
<!-- NAVIGATION -->
 <div class="topnav">
  <a href="{% url 'portal:student_dashboard' student.id %}">Student Dashboard</a>
</div>

<!-- CONTENT -->
<!--<p>Class Lookup for {{ student.student_first_name }} ({{ student.id }})</p>-->
<h2>Find Classes</h2><br>
{% if error != "" %}
    {{error}}
{% endif %}
<!--<form action="{% url 'portal:student_class_lookup' student.id %}" method="post">-->
<form action="{% url 'portal:class_results' student.id %}" method="post">
    {% csrf_token %}
    <label for="year">Year: </label>
    <select id="year" name="year">
        <option value="s23">Spring 2023</option>
        <!-- ---------------- -->
        <option value="f22">Fall 2022</option>
        <option value="s22">Spring 2022</option>
        <!-- ---------------- -->
        <option value="f21">Fall 2021</option>
        <option value="s21">Spring 2021</option>
        <!-- ---------------- -->
        <option value="f20">Fall 2020</option>
        <option value="s20">Spring 2020</option>
        <!-- ---------------- -->
        <option value="f19">Fall 2019</option>
        <option value="s19">Spring 2019</option>
        <!-- ---------------- -->
        <option value="f18">Fall 2018</option>
        <option value="s18">Spring 2018</option>
    </select><br><br>
    <label for="department">Department: </label>
    <select id="department" name="department" required>
        <option readonly value="">--select--</option>
        {% for department in departments %}
            <option value={{department}}>{{department}}</option>
        {% endfor %}
    </select><br><br>
   <label for="course_number">Course Number:</label>
   <input type="number" id="course_number" name="course_number">
    <button type="submit">Search</button>
</form>
</body>
</html>