{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
  <body>
    <!-- NAVIGATION -->
    <div class="topnav">
      <a href="{% url 'portal:student_dashboard' %}">Dashboard</a>
      <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
    </div>

    <!-- CONTENT -->
    <div class="borders">
      <h2>Schedule:</h2>
      {% for class in schedule %}
          <h2> Section Number: {{class.fields.catalog_nbr}} - {{class.fields.class_section}}</h2>
          <h4>&emsp; Enrollment: {{class.fields.enrollment_total}} / {{class.fields.class_capacity}}</h4>
              <h4>&emsp; Time: {{class.fields.start_time}} - {{class.fields.end_time}}</h4>
              <h4>&emsp; Days: {{class.fields.days}} </h4>
              <h4>&emsp; Room: {{class.fields.facility_descr}}</h4>
              <h4>&emsp; Instructor: {{class.fields.instructor}}</h4>
      {% endfor %}
      <button onclick="send_student_Schedule()">Send Schedule </button>
      <!-- <button onclick="myFunction()">Try it</button> -->

      <script>
        function send_student_Schedule() {
          alert("Your schedule was just sent!");
        }
      </script>
    </div>
  </body>
</html>
