{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<html lang="en">
  <!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>

  <body>
     <!--{% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}-->
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
    {% endfor %}

<!-- NAVIGATION -->
<div class="topnav">
  <a href="{% url 'portal:student_dashboard' %}">Dashboard</a>
  <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
  <a href="{% url 'portal:student_shopping_cart' %}">Shopping Cart</a>
  <a href="{% url 'portal:student_schedule' %}">Schedule</a>
  <div class="topnav-right">
    <a href="{% url 'portal:logout' %}">Log Out</a>
  </div>
</div>

<!-- CONTENT -->
<div class="container-fluid">
  <div class="border2">
    <h2>Schedule</h2>
  
  {% if schedule != "empty" %}
      {% for class in schedule %}
          <form action="{% url 'portal:remove_class' %}" method="post">
              {% csrf_token %}
              <h5> {{class.fields.subject}}: {{class.fields.catalog_nbr}} - {{class.fields.descr}} </h5>
              <h6>&emsp; Enrollment: {{class.fields.enrollment_total}} / {{class.fields.class_capacity}}</h6>
              <h6>&emsp; Time: {{class.fields.start_time}} - {{class.fields.end_time}}</h6>
              <h6>&emsp; Days: {{class.fields.days}} </h6>
              <h6>&emsp; Room: {{class.fields.facility_descr}}</h6>
              <h6>&emsp; Instructor: {{class.fields.instructor}}</h6>
              <button class="btn btn-outline-dark btn-rounded" value="{{class.pk}}"  name>Remove Class</button>
          </form>
      {% endfor %}
          {% if is_sent %}
              {% if is_viewed %}
                    {% if is_approved %}
                        <h5>Schedule has been approved! If you add or remove classes, you will need to request approval again.</h5>
                    {% else %}
                        <h5>Schedule has been rejected. Please change your schedule and send again!</h5>
                    {% endif %}
              {% else %}
                <h5> Schedule has been sent, but is awaiting advisor approval.</h5>
              {% endif %}
          {% else %}
              <form action="{% url 'portal:send_schedule' %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn btn-dark" onclick="send_student_Schedule()" class="btn btn-dark">Send Schedule </button>
              </form>
          {% endif %}
      {% else %}
      <h5>No classes added yet.</h5>
  {% endif %}

  <script>
      function send_student_Schedule() {
        alert("Your schedule was just sent! If you change your schedule before your advisor looks at it, you will have to send it again!");
      }
  </script>
  </div>
</div>  
</body>

<footer class="bg-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"></h5>
        <p></p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"></h5>
        <p></p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-light" style="background-color: #232D4B;">
    © 2023 Copyright: Abby Dhakal, Gavin Fortner, Ananya Ananda, Ashwin Shankar, Caleb Lee
  </div>
  <!-- Copyright -->
</footer>
</html>