{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<!-- NAVIGATION -->
 <div class="topnav">
  <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
  <a href="{% url 'portal:student_schedule' %}">Schedule</a>
</div>

<!-- CONTENT -->
<h2>{{ student.student_first_name }}'s Dashboard</h2>
<h4>Student Information: </h4>
<p>Name: {{ student.student_first_name }} {{ student.student_last_name }}</p>
<p>Email: {{ student.student_email }} </p>
<p>Year: {{ student.year_in_school }} </p>
</body>
</html>
