<!--** WANT THIS: https://mdbootstrap.com/docs/standard/navigation/navbar/ -->
{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<!-- NAVIGATION -->
<!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
<div class="topnav">
  <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
  <a href="{% url 'portal:student_schedule' %}">Schedule</a>
  <a href="{% url 'portal:student_shopping_cart'%}">Shopping Cart</a>
  <div class="topnav-right">
    <a href="{% url 'portal:logout' %}">Log Out</a>
  </div>
</div>

<!-- CONTENT -->
<div class="container-fluid"> 
  <div class="border2">
    <h2>{{ student.student_first_name }}'s Dashboard</h2>
    <h5>Student Information </h5>
    <div class="row row-cols-1 row-cols-md-3 text-center">
      <!-- NAME CARD -->
      <div class="col">
        <div class="card h-100">
          <img src="https://communications.virginia.edu/sites/communications/files/mckim-hall.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="fst-italic">Name: {{ student.student_first_name }} {{ student.student_last_name }}</p>
            <!-- <p class="fw-normal">{{ student.student_first_name }} {{ student.student_last_name }}</p> -->
            <!-- <p class="card-title">Name: {{ student.student_first_name }} {{ student.student_last_name }}</p> -->
            <!-- <p class="card-text">{{ student.student_first_name }} {{ student.student_last_name }}</p> -->
          </div>
        </div>
      </div>

      <!-- EMAIL CARD -->
      <div class="col">
        <div class="card h-100">
          <img src="https://communications.virginia.edu/sites/communications/files/alderman-and-peabody.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="fst-italic">Email: {{ student.student_email }}</p>
            <!-- <p class="card-title">Email: {{ student.student_email }}</p> -->
            <!-- <p class="card-text">{{ student.student_email }}</p> -->
          </div>
        </div>
      </div>
        
      <!-- YEAR CARD -->
      <div class="col">
        <div class="card h-100">
          <img src="https://communications.virginia.edu/sites/communications/files/old-cabell.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="fst-italic">Year: {{ student.year_in_school }}</p>
            <!-- <p class="card-title">Year: {{ student.year_in_school }}</p> -->
            <!-- <p class="card-text">{{ student.year_in_school }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- <br></br> -->

  <div class="border2">
    <h5>Student Actions</h5>
    <div class="row row-cols-1 row-cols-md-3 text-center">
      <!-- FIND CLASSES CARD -->
      <div class="col">
        <div class="card h-100">
          <img src="https://communications.virginia.edu/sites/communications/files/rotunda-lawnside.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{% url 'portal:student_class_lookup' %}" class="btn btn-dark">Find Classes</a>
            <!-- <p class="card-text">{{ student.student_first_name }} {{ student.student_last_name }}</p> -->
          </div>
        </div>
      </div>

      <!-- VIEW SCHEDULE CARD -->
      <div class="col">
        <div class="card h-100">
          <img src="https://communications.virginia.edu/sites/communications/files/davenport-field.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{% url 'portal:student_schedule' %}" class="btn btn-dark">View Schedule</a>
            <!-- <p class="card-text">{{ student.student_email }}</p> -->
          </div>
        </div>
      </div>
        
      <!-- VIEW SHOPPING CART CARD -->
      <div class="col">
        <div class="card h-100">
          <img src="https://communications.virginia.edu/sites/communications/files/thornton-hall.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{% url 'portal:student_shopping_cart'%}" class="btn btn-dark">View Shopping Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
  
<footer class="bg-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"></h5>
        <p></p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"></h5>
        <p></p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-light" style="background-color: #232D4B;">
    © 2023 Copyright: Abby Dhakal, Gavin Fortner, Ananya Ananda, Ashwin Shankar, Caleb Lee
  </div>
  <!-- Copyright -->
</footer>


</html>