{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
    <style>
        body {
            margin: 0;
            font-family: "Times New Roman", Times, serif;
        }

        .topnav {
          overflow: hidden;
          background-color: #333;
        }

        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
    </style>
</head>
  <body>
    <!-- NAVIGATION -->
    <div class="topnav">
      <a href="{% url 'portal:student_dashboard' %}">Student Dashboard</a>
      <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
    </div>

    <!-- CONTENT -->
    <h2>Schedule:</h2>

    <button onclick="send_student_Schedule()">Send Schedule </button>
    <!-- <button onclick="myFunction()">Try it</button> -->

    <script>
      function send_student_Schedule() {
        alert("Your schedule was just sent!");
      }
    </script>
  </body>
</html>
