{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
    <style>
        body {
            margin: 0;
            font-family: "Times New Roman", Times, serif;
        }

        .topnav {
          overflow: hidden;
          background-color: #333;
        }

        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
    </style>
</head>
<body>
<!-- NAVIGATION -->
 <div class="topnav">
  <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
  <a href="{% url 'portal:student_schedule' %}">Schedule</a>
</div>

<!-- CONTENT -->
<h2>{{ student.student_first_name }}'s Dashboard</h2>
<h4>Student Information: </h4>
<p>Name: {{ student.student_first_name }} {{ student.student_last_name }}</p>
<p>Email: {{ student.student_email }} </p>
<p>Year: {{ student.year_in_school }} </p>
</body>
</html>
