{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<html lang="en">
  <!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
 
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
    <!-- NAVIGATION -->
    <div class="topnav">
      <a href="{% url 'portal:student_dashboard' %}">Dashboard</a>
      <a href="{% url 'portal:student_class_lookup' %}">Find Classes</a>
      <div class="topnav-right">
        <a href="{% url 'portal:logout' %}">Log Out</a>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="header">
      <h2>Schedule:</h2>
    </div>

    <!--  MESSAGE WARNING  -->
    <h5>This is where messages will go.</h5>

    {% if schedule != "empty" %}
        <div class="info">
        {% for class in schedule %}
            <form action="{% url 'portal:remove_class' %}" method="post">
                {% csrf_token %}
                <h2> {{class.fields.subject}}: {{class.fields.catalog_nbr}} - {{class.fields.descr}} </h2>
                <h4>&emsp; Enrollment: {{class.fields.enrollment_total}} / {{class.fields.class_capacity}}</h4>
                <h4>&emsp; Time: {{class.fields.start_time}} - {{class.fields.end_time}}</h4>
                <h4>&emsp; Days: {{class.fields.days}} </h4>
                <h4>&emsp; Room: {{class.fields.facility_descr}}</h4>
                <h4>&emsp; Instructor: {{class.fields.instructor}}</h4>
                <button name="class_pk" value="{{class.pk}}" name>Remove Class</button>
            </form>
        {% endfor %}
        </div>
        <button onclick="send_student_Schedule()">Send Schedule </button>
    {% else %}
        <h4>No classes added yet.</h4>
    {% endif %}

    <script>
        function send_student_Schedule() {
          alert("Your schedule was just sent!");
        }
    </script>
</body>
</html>