{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'portal/style.css' %}">
<html>
<!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Sign-Up</title>
</head>

<body>
<!-- NAVIGATION -->
 <div class="topnav">
  <a href="{% url 'portal:home' %}">Home</a>
</div>

<form action="{% url 'portal:student_link' %}" method="post">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <!-- from https://www.w3schools.com/tags/att_input_readonly.asp -->
    <div class="header">
        <h1>Sign Up:</h1>
    </div>

    <!-- CONTENT -->
    <div class="container-fluid;" > 
      <div class="border2">
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" value={{ user.first_name }}><br><br>
        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name" value={{ user.last_name }}><br><br>
        <label for="email">Email: </label>
        <input type="email" value={{ user.email }} id="email" name="email" readonly><br><br>
        <label for="year">Year: </label>
        <select id="year" name="year">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br><br>
        <button type="submit" class="btn btn-dark">Sign Up</button>
      </div>
    </div>
    <br><br><br><br>
</form>
</body>
</html>