<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Lookup</title>
    <!-- Style here for navbar taken from https://www.w3schools.com/howto/howto_js_topnav.asp -->
    <style>
        body {
            margin: 0;
            font-family: "Times New Roman", Times, serif;
        }

        .topnav {
          overflow: hidden;
          background-color: #333;
        }

        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
    </style>
</head>
<body>
<!-- NAVIGATION -->
 <div class="topnav">
  <a href="{% url 'portal:student_dashboard' student.id %}">Student Dashboard</a>
</div>

<!-- CONTENT -->
<p>Class Lookup for {{ student.student_first_name }} ({{ student.id }})</p>
<!--<ul>-->
<!--  {% for department in departments %}-->
<!--    <li>-->
<!--        <p>{{ department }}</p>-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->
<select id="department" name="department">
    {% for department in departments %}-->
        <option value={{department}}>{{department}}</option>
    {% endfor %}
</select><br><br>
</body>
</html>